.gameBoard {
  background-color: black;
  width: fit-content;
  display: grid;
  /* grid-template-areas:
    1fr 1fr 1fr
    1fr 1fr 1fr
    1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
}
